# System dependent files
.DS_Store

# IDE dependent files
.idea/
**/*.iml
**/.project
**/.classpath
.settings/
bin/
gen/

# VCS depencent files
.svn/

# Gradle dependent files
local.properties
**/build
.gradle/
