<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kakao.adfit.publisher.sample"
          android:versionCode="1"
          android:versionName="1">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="23"/>

    <!-- AdFit 광고 SDK를 사용하기 위한 필수 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:icon="@drawable/icon"
            android:label="@string/appName">

        <activity
                android:name=".TestAppActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/appName">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".BannerActivity"/>
        <activity
                android:name=".BannerTypeXML1"
                android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
                android:name=".BannerTypeXML2"
                android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
                android:name=".BannerTypeJava"
                android:configChanges="orientation|keyboardHidden|screenSize"/>

    </application>

</manifest>
