<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BannerSampleActivity" />
        <activity android:name=".BannerJavaSampleActivity" />
        <activity android:name=".NativeAdSampleActivity" />
        <activity android:name=".NativeAdJavaSampleActivity" />
        <activity android:name=".NativeAdsSampleActivity" />
        <activity android:name=".BizBoardAdSampleActivity" />
        <activity android:name=".BizBoardAdJavaSampleActivity" />
        <activity android:name=".WebViewAdSampleActivity" />
        <activity android:name=".WebViewAdJavaSampleActivity" />
        <activity android:name=".AppTransitionTypePopupAdSampleActivity" />
        <activity android:name=".AppExitTypePopupAdSampleActivity" />
        <activity android:name=".AboutActivity" />
    </application>
</manifest>
